<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20230123-081023-CodeSystem-appc-anatomie.html">1.0.10a</a></td><td><a onclick="createDiff('CodeSystem-appc-anatomie.html', '20230123-081023-CodeSystem-appc-anatomie.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>