<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20230314-155844-ValueSet-test-valueset.html">1.0.0+20230314</a></td><td><a onclick="createDiff('ValueSet-test-valueset.html', '20230314-155844-ValueSet-test-valueset.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>